body {
    font-family: "Open Sans", arial;
}
h1 {
    text-align: center;
    color: dodgerblue;

}
table {
        max-width: 960px;
        border-collapse: collapse;
        border: 1px solid #38678f;
        margin: 10px auto;

}
th {
        background: dodgerblue;
        height: 54px;
        width: 25%;
        color: white;
        text-align: center;
        padding: 20px;

}
tr {
        background: #f4f7f8;
        border-bottom: 1px solid #FFF;
        margin-bottom: 5px;
}
    tr:nth-child(even) {
        background: #e8eeef;
    }
    td {
        text-align: center;
        padding: 10px 2px;
        font-size: 1.2em;
        font-style: italic;
        color: #8a97a0;
        font-weight: 300;
    }